.dropdown_button {
    width: 80px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #757575;
    position: relative;
    margin-top: 32px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;  /* 마우스 올렸을 때(호버) 마우스포인터 모양 손가락 모양으로 바뀌기 */
}

.dropdown_arrow {
    width: auto;
    height: 12px;
    transform: rotate(90deg); /* 오른쪽으로 90도 회전  */
    position: absolute;
    right: 8px;
}

.dropdown_menu {
    width: 80px;
    position: relative;
    padding: 0;
    margin: 0 0 0 24px;
    display: flex;
    flex-direction: column;  /* 자식 요소 세로로 정렬 */
    box-sizing: border-box;  /* 패딩, 테두리가 크기에 영향 주지 않기 */
    list-style: none;  /* 드롭다운 스타일 제거 */
    z-index: 20;       /* 요소가 겹쳤을 때 위에 보이기 */
    max-height: 0;     /* 최대 높이 0 (가렸다가 나중에 보여주기 위함) */
    overflow: hidden;  /* 요소 안보이게 */
}

.dropdown_menu.open {
    transition: max-height 1.0s ease-in;  /* 0.7초에 걸쳐서 최대 높이 변경 (부드럽게 애니메이션) */
    max-height: 100vh;  /* 최대 높이 변경 (드롭다운이 내려오도록) */
}

.dropdown_list {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    border: 1px solid #757575;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}