<!-- 왼쪽 패널 영역 (이 div 안에 코딩하기) -->
<div class="panel_case">
   <div class = "login_inner">
        <h2 clas = "login_title">로그인 정보를 입력해 주세요.</h2>
        <form class = "login_form" method = "POST" action = "/login">
            <div class = "form_group">
                <label for = "loginId" class = "form_label">아이디</label>
                <input type ="text" id="loginId" name="loginId" class="form_input" placeholder ="아이디" required/>
            </div>

            <div class ="form_group">
                <label for ="password" class="form_label">비밀번호</label>
                <input type="password" id="password" name="password" class="form_input" placeholder="비밀번호" required/>
            </div>

            <p class="form_error" id="loginError" style="display:none;">아이디 또는 비밀번호를 다시 확인해 주세요.</p>

            <div class="login_button_group">
                <button type="submit" class="btn btn_primary">로그인</button>
                <button type="button" class="btn btn_secondary" onclick="goToRegister()">회원가입 하러가기</button>
            </div>
        </form>
   </div>
</div>

<script>
    function goToRegister(){
        window.location.href='/register';
    }
</script>